h1{
    color: yellow;
    background-color: black;
    text-align: center;
    font-size: xx-large;
}
h2{
    color: yellowgreen;
    background-color: red;
    text-align: center;
    font-size: xx-large;
}